.bandeau {
    background-color: #eeeeeeff;
    border: 1px solid black;
    height: 2rem;
    padding: 5px 10px;
}

.compte {
    width: 70%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 30px;
    background-color: #fff2ccff;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    height: 5rem;
}

td {
    height: 3rem;
    text-align: center;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    background-color: #eeeeeeff;
    border: 1px solid black;
}

.total {
    padding: 0px 15px;
}

.total::after {
    content: '€';
}

.btn {
    background-color: #ffe800ff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    font-size: 18px;
}

.DL-btns {
    width: 20%;
    margin-right: 15px;
}

.graphique {
    background-color: #fff;
    padding: 50px;
}

.compteItem {
    padding: 10px 15px;
    border-bottom: 1px solid black;
}

.body {
    height: calc(100% - 200px - 8rem - 90px);
}

.formAjoutClient {
    width: 100%;
    height: calc(100% - 315px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    font-size: 1.8rem;
}

.formInput {
    width: 18%;
}

.formInput input {
    margin-top: 10px;
    padding: 2px 0px 2px 10px;
    font-size: 1.1rem;
}

.rowFormAjout {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.montantPositif {
    background-color: #B1E46A;
}

.montantNegatif {
    background-color: #F76D6D;
}

.caracteristiques {
    background-color: #F383C7;
}

.tablesHeight {
    min-height: calc(100% - 200px - 2rem - 4.5rem);
}

.minHeight {
    min-height: calc(100% - 212px - 2rem);
}