* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body, .max-height {
    height: 100%;
}

body {
    background-image: url("../img/fond_ecran.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

a {
    text-decoration: none;
    color: black;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.center-x {
    display: flex;
    justify-content: center;
}

.center-y {
    display: flex;
    align-items: center;
}

.grow {
    display: flex;
    flex-grow: 100;
}

.bg-white {
    background-color: #fff;
}

.success {
    height: 3rem;
    background-color: lawngreen;
}

.w-70 {
    width: 70%;
}

.p-15 {
    padding: 15px;
}