.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: #ffff00ff;
}

.login {
    height: 150px;
    padding: 50px;
}

.login a:active {
    background-color: orange;
}

.btn {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #ffe800ff;
}

.slogan {
    height: 100px;
    background-color: #eeeeeeff;
}

.slogan h1 {
    font-weight: 700;
    font-size: 42px;
    text-decoration: underline;
}